body{
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 1.5%;
    background: rgb(227,236,255);
    background: radial-gradient(circle, rgb(234, 240, 255) 0%, rgb(236, 225, 250) 100%);
}

.container{
    background-color: rgba(144, 120, 252, 0.8);
    border-radius: 10px;
    padding: 15px;
    border: 1px solid black;
}



.inputform{
    text-align: left;
    padding: 10px;

}

textarea{
    padding: 10px;
    width: 100%;
}
label{
    padding-bottom: 0.5em;
    font-size: large;
}

input[type="submit"]{
    width: 20%;
    height: 3em;
    margin-top: 10px;
    border-radius: 5px;
    background-color: rgb(214, 136, 237);
    border: 2px solid black;
}

input[type="submit"]:hover{
    width: 20%;
    height: 3em;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(168, 16, 238);
    color: white;
    border: 2px solid black;
}

.resultdiv{
    height: 6.3em;
    padding-top: 1.5em;
    text-align: center;
}


@keyframes ldio-nys8r3mt4dm {
    0% { transform: translate(-50%,-50%) rotate(0deg); }
    100% { transform: translate(-50%,-50%) rotate(360deg); }
  }
  .ldio-nys8r3mt4dm div {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 6.5px solid #230037;
    border-top-color: transparent;
    border-radius: 50%;
  }
  .ldio-nys8r3mt4dm div {
    animation: ldio-nys8r3mt4dm 1s linear infinite;
    top: 35px;
    left: 100px
  }
  .loadingio-spinner-rolling-5mktibnny8u {
    width: 200px;
    height: 6em;
    display: inline-block;
    overflow: hidden;
    opacity: 95%;
    padding-top: 1em;
  }
  .ldio-nys8r3mt4dm {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-nys8r3mt4dm div { box-sizing: content-box; }


@media (max-width:700px){
    body{
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media (max-width:1000px){
    body{
        padding-left: 10%;
        padding-right: 10%;
    }
}